<html>
  <head>
    <title>About Page</title>
  </head>
  <body>
    <h2>Welcome <%=name%> </h2>
    <ol>
      <% data.skills.forEach((item)=>{%><li> <%=item%> </li><%})%>
    </ol>
  </body>
</html>
